* {
    font-family: Helvetica, sans-serif;
}
:root {
    --blue-color: #3b5998;
    --gray-background: #e6e7ea;
}
header {
    width: 850px;
    position: relative;
    margin: auto;
}
body {
    background-color: var(--gray-background);
}
h1, h3 {
    color: white;
    padding-left: 200px;
}
h1 {
    font-size: 25px;
    position: absolute;
    top: 45%;
}
h3 {
    font-size: 18px;
    font-weight: lighter;
    position: absolute;
    top: 65%;
}
#coverPhoto {
    background-color: var(--blue-color);
    width: 850px;
    height: 200px;
}

#profilePicture {
    background-color: var(--blue-color);
    height: 150px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid darkslategrey;
    position: absolute;
    top: 25%;
    left: 2%;
}
#buttons {
    position: absolute;
    top: 70%;
    right: 0;
    border-radius: 5px;
}

#navMenu {
    background-color: white;
    width: 850px;
    height: 40px;
    margin: auto;
    padding: 1px 0 1px 0;
}

#menuItems {
    margin-left: 150px;
}

li {
    text-align: center;
    list-style: none;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    display: inline;
    color: black;
    text-decoration: none;
}
a:hover {
    font-weight: heavy;
    border-bottom: 2px solid var(--blue-color);
}

.sideBorder {
    border-left: 1px solid var(--gray-background);
}

.columns {
    margin-top: 1%;
    margin-left: 20%;
    background-color: white;
}

#columnLeft {
    background-color: white;
    width: 328px;
    margin-right: 10px;
    float: left;
    border: 1px solid var(--gray-background);
}

#columnRight {
    background-color: white;
    width: 512px;
    float: left;
    border: 1px solid var(--gray-background);
}

h4 {
    border-top: 1px solid var(--gray-background);
    padding-top: 10px;
}

#aboutInfo {
    color: var(--blue-color);
    font-size: 16px;
    border-bottom: 1px solid var(--gray-background);
    padding-bottom: 10px;
}

#yourWebsite {
    color: var(--blue-color);
    font-size: 15px;
}

#postHeading {
    padding-bottom: 30px;
}

#profilePicturePosts {
    background-color: var(--blue-color);
    height: 50px;
    width: 50px;
    float: left;
    margin: 10px;
}

#postHeadingInfo {
    font-size: 12px;
    font-weight: lighter;
}

#yourPageName {
    color: var(--blue-color);
    font-weight: bold;
}

#updateInfo {
    color: var(--blue-color);
}

#coverPhotoSmaller {
    background-color: var(--blue-color);
    width: 98.25%;
    height: 200px;
    margin: 4px;
}

footer {
    border-top: 1px solid var(--gray-background);
    background-color: #f5f6f7;
    font-size: 12px;
    font-weight: lighter;
    color: var(--blue-color);
    padding: 5px;
}